.search-box {
  display: flex;
  align-items: center;

  .input-search {
    height: 1.5em;
    width: 300px;
    border: 1px solid cornflowerblue;
    outline: none;
    border-radius: .3em;
  }

  .btn-search {
    display: flex;
    // background-color: cornflowerblue;
    box-sizing: border-box;
    height: 1.334em;
    padding: 0 0.5em;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: cornflowerblue;
  }
}
