section {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem 5rem;
  &.book-detail > main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    & > img {
      border: 1px solid #eee;
      width: 400px;
      &:hover {
        border: 1px solid #eee;
        box-shadow: none;
      }
    }

    & > .info {
      border: none;
      &:hover {
        border: none;
        box-shadow: none;
      }
      & > .top {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & > .title {
          font-weight: bold;
          font-size: 1.5em;
        }

        & > .authors {
          margin-bottom: 1em;
          display: flex;
          gap: 1em;

          & > .list {
            color: #666;
            display: flex;
            gap: 0.5em;
            & > .author {
              border-right: 1px solid #ccc;
              padding-right: 0.5em;
              &:last-child {
                border-right: none;
              }
            }
          }
        }

        & > .price {
          color: #666;
          font-weight: bold;
          font-size: 1.2em;
        }

        & > .description {
          margin-top: 2em;
          color: #666;
          line-height: 1.5em;
        }
      }
      & > a {
        margin-top: auto;
        display: flex;
        background: #000;
        width: fit-content;
        padding: 1em 3em;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
