* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  margin: 0;
  padding: 0;
  display: grid;
  // width: 100vw;
  // height: 100vh;
  display: grid;
  grid-template-rows: 60px repeat(6, 1fr);
  grid-template-areas:
    "a a a b b"
    "a a a b b"
    "a a a c c"
    "a a a c c"
    "a a a d d"
    "a a a d d";
}

@media screen and (max-width: 960px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

.books {
  //   background: tomato;
  grid-area: a;
  min-width: 500px;
}

.types {
  //   background: teal;
  grid-area: b;
}

.authors {
  //   background: cornsilk;
  grid-area: c;
}

.publishers {
  //   background: cornflowerblue;
  grid-area: d;
}
