.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  &.visible {
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}
.popup {
  position: fixed;
  width: 40vw;
  min-width: 400px;
  height: 60vh;
  min-height: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 1em;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  &.visible {
    background: #fff;
    z-index: 2;
  }

  & > .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    padding: 0.25em;
    border: 0.1em solid black;
    font-size: 25px;
    &:hover {
      transition: all 250ms;
      background-color: rgb(204, 211, 224);
    }
  }
}
