.books {
  display: flex;
  flex-direction: column;
  padding: 2em 5em;

  &__label {
    text-decoration: none;
    font-weight: bold;
  }

  &__detail {
    display: flex;
    flex-direction: row;
  }
}
