.book {
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  gap: 5px;
  
  .book-title {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
  }
  
  .book-title:hover{
    color: purple;
  }
  
  
  .book-autors {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
    span {
      padding:0.125em  0.5em;
      background: #eee;
    }
  }
}
