.books {
  display: flex;
  flex-direction: column;
  padding: 2em 5em;
  gap: 2em;

  &__label {
    // background: rgb(54, 52, 52);
    // background: linear-gradient(
    //   45deg,
    //   rgba(54, 52, 52, 0.45702030812324934) 0%,
    //   rgba(0, 0, 0, 0.639093137254902) 50%,
    //   rgba(54, 52, 52, 0.43461134453781514) 100%
    // );
    padding: 1em;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    justify-content: space-between;
    background-color: #efefef;
    border-radius: 0.8em;
    border-bottom: 1px solid #efefef;
  }
  &__see-more {
    text-decoration: none;
    color: inherit;
    font-weight: lighter;
    &:hover {
      color: cornflowerblue;
    }
  }

  &__detail {
    display: flex;
    flex-direction: row;
  }
}
