.login,
.password {
  margin-top: 5em;
  & > main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border: none;
    &:hover {
      border: none;
      box-shadow: none;
    }
    & > * {
      border: 1px solid #eee;
      box-shadow: none;
    }

    & > form {
      display: flex;
      align-items: stretch;
      gap: 2em;
      width: 40em;

      & > .group {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        & > input {
          padding: 1em;
        }

        & > button {
          display: flex;
          background: #000;
          width: fit-content;
          padding: 1em 3em;
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}

.password {
  margin-top: 1em;
}
