@import "react-slideshow-image/dist/styles.css";
.slide {
  padding: 2em 5em;

  .each-slide {
    display: flex;
    // align-items: center;
    justify-content: center;
    // background-size: cover;
    // object-fit: contain;

    img {
      height: 500px;
      width: fit-content;
      object-fit: cover;
    }
  }
}
